@page
@model NTWEB.Pages.ResumeModel
@{
    ViewData["Title"] = "رزومه من";
    ViewData["Description"] = "رزومه نیما ترابی؛ از این صفحه می‌تونی رزومه و تجربیات کاری من رو ببینی!";
    ViewData["ActivePage"] = "Resume";
}
<div>
    <section id="resume" class="resume section" data-aos="fade-up" data-aos-delay="100">
        <div class="container section-title">
            <h1>رزومه من</h1>
            <p>در این بخش اطلاعات شخصی، مهارت‌ها، تحصیلات و تجربه‌های کاری من رو مشاهده می‌کنید.</p>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 text-center">
                    <img src="~/images/profile1.jpg" alt="عکس پروفایل نیما ترابی" class="img-fluid profile-img" />
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                            <div class="resume-item pb-0">
                                <h3>نام و نام خانوادگی</h3>
                                <p>@Model.ProfileInfo.FullName</p>
                            </div>

                            <div class="resume-item pb-0">
                                <h3>محل سکونت</h3>
                                <p>@Model.ProfileInfo.Location</p>
                            </div>

                            <div class="resume-item pb-0">
                                <h3>ایمیل</h3>
                                <p><a href="mailto:@(Model.ProfileInfo.Email)">@Model.ProfileInfo.Email</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                            <div class="resume-item pb-0">
                                <h3>تاریخ تولد</h3>
                                <p>@Model.ProfileInfo.BirthDate</p>
                            </div>

                            <div class="resume-item pb-0">
                                <h3>خدمت سربازی</h3>
                                <p>@Model.ProfileInfo.MilitaryStatus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="section-divider-top" />
    <section id="skills" class="skills section" data-aos="fade-left" data-aos-delay="100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 d-none d-lg-block"></div>
                <div class="col-lg-9">
                    <h2 class="skills-title">مهارت‌های من</h2>
                    @for (int i = 0; i < Model.Skills.Count; i++)
                    {
                        @if (i % 3 == 0)
                        {
                            @:<div class="progress-container">
                        }
                        <div class="progress">
                            <span class="skill">@Model.Skills[i].Title</span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@Model.Skills[i].Progress" aria-valuemin="0" aria-valuemax="100">
                                    <span class="val">@Model.Skills[i].Progress%</span>
                                </div>
                            </div>
                        </div>

                        @if(i % 3 == 2 || Model.Skills.Count-1 == i)
                        {
                            @:</div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <hr class="section-divider-top" />
    <section id="languages" class="experience section" data-aos="fade-left" data-aos-delay="100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 d-none d-lg-block"></div>
                <div class="col-lg-9">
                    <h2 class="experience-title">زبان ها</h2>
                    <div class="row">
                        @for(int i=0;i<Model.Languages.Count;i++)
                        {
                            @if (i % 2 == 0)
                            {
                                @:<div class="col-lg-6">
                            }
                            <div class="experience-item pb-0">
                                <h3>@Model.Languages[i].Title</h3>
                                <p>سطح: @Model.Languages[i].Level</p>
                            </div>
                            if(i % 2 != 0 || Model.Languages.Count-1 == i)
                            {
                                @:</div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="section-divider-top" />
    <section id="education" class="experience section" data-aos="fade-left" data-aos-delay="100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 d-none d-lg-block"></div>
                @foreach (var item in Model.Educations)
                {
                    <div class="col-lg-9">
                        <h2 class="experience-title">تحصیلات</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="experience-item pb-0">
                                <h3>@item.Degree | @item.School</h3>
                                <p>@item.Year</p>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <hr class="section-divider-top" />
    <section id="experiences" class="experience section" data-aos="fade-left" data-aos-delay="100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 d-none d-lg-block"></div>
                <div class="col-lg-9">
                    <h2 class="experience-title">سابقه کاری</h2>
                    <div class="row">
                        @for(int i=0;i<Model.Experiences.Count;i++)
                        {
                           <div>
                               <div class="experience-item pb-0">
                                   <h3>@Model.Experiences[i].JobTitle | @Html.Raw(@Model.Experiences[i].CompanyName)</h3>
                                   <p>@Model.Experiences[i].Description | <a asp-page="Podcast">مشاهده پادکست‌ها</a></p>
                               </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="footer-image">
    <img src="/images/links/service-link.svg" alt="سفارش پروژه" onclick="location.href='@Url.Page("Service")'" />
</div>
@section Styles{
    <link  rel="stylesheet" href="~/css/resume.min.css">
}
@section Schema {
    <script type="application/ld+json">
        {
           "@@context": "https://schema.org",
           "@@type" : "WebPage",
           "name": "رزومه نیما ترابی",
           "description": "مشاهده رزومه و تجربیات کاری نیما ترابی."
        }
    </script>
}