<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Nima | @ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="رزومه برنامه‌نویسی, طراحی سایت, توسعه‌دهنده وب, پروژه‌های وب, نمونه‌کار برنامه‌نویسی, HTML CSS JavaScript, سایت شخصی برنامه‌نویس">

    <link href="~/images/favicon.png" rel="icon">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/aos/aos.css" rel="stylesheet" />
    <link href="~/lib/glightbox/glightbox.min.css" rel="stylesheet" />
    <link href="~/lib/swiper/swiper.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    @* <link href="~/css/main.min.css" rel="stylesheet" /> *@
</head>

<body class="index-page">

    <header id="header" class="header dark-background d-flex flex-column">
        <div class="top-bar">
            <div class="site-name">
                <a asp-page="Index">
                    NT
                </a>
            </div>
            <div class="header-toggle" id="header-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <a asp-page="Index" class="logo d-flex align-items-center justify-content-center">
            <svg width="400" height="100">
                <title>Nima Torabi</title>
                <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="logo-text-base">
                    NT
                </text>
                <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" class="logo-text-animated">
                    NT
                </text>
            </svg>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a asp-page="Index" class="@(ViewData["ActivePage"] as string == "Index" ? "active" : "")"><i class="bi bi-house navicon"></i>خانه</a></li>
                <li><a asp-page="Resume" class="@(ViewData["ActivePage"] as string == "Resume" ? "active" : "")"><i class="bi bi-file-person-fill navicon"></i>رزومه</a></li>
                <li><a asp-page="Biography" class="@(ViewData["ActivePage"] as string == "Biography" ? "active" : "")"><i class="bi bi-person navicon"></i>بیوگرافی</a></li>
                <li><a asp-page="Podcast" class="@(ViewData["ActivePage"] as string == "Podcast" ? "active" : "")"><i class="bi bi-mic navicon"></i>پادکست‌ ها</a></li>
                <li><a asp-page="Service" class="@(ViewData["ActivePage"] as string == "ServiceRequest" ? "active" : "")"><i class="bi bi-check2-square navicon"></i>سفارش پروژه</a></li>
                <li><a asp-page="Contact" class="@(ViewData["ActivePage"] as string == "Contact" ? "active" : "")"><i class="bi bi-telephone navicon"></i>تماس با من</a></li>
            </ul>
        </nav>

        <div class="social-links">
            <a href="https://github.com/Nima-Torabi-1010100" class="bi bi-github" title="GitHub"></a>
            <a href="https://www.linkedin.com/in/nima-torabi-9369732b9/" class="bi bi-linkedin" title="Linkedin"></a>
            <a href="https://t.me/nimatorabi_t" class="bi bi-telegram" title="Telegram"></a>
        </div>

    </header>

    <main class="main">
        @RenderBody()
    </main>

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/typed/typed.umd.js"></script>
    <script src="~/js/purecounter_vanilla.js"></script>
    <script src="~/lib/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/lib/glightbox/glightbox.min.js"></script>
    <script src="~/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/lib/swiper/swiper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/intro-text.js"></script>

    <script src="~/js/main.js"></script>

    <partial name="_ValidationScriptsPartial">

</body>
</html>